[buildout]
index = http://pypi.bluedynamics.eu
find-links +=
    http://effbot.org/downloads/
parts = 
    instance
    omelette

extends = 
    http://dist.plone.org/release/4.1-latest/versions.cfg
unzip = true
develop = 
    .

extensions = mr.developer
sources = sources
sources-dir = ${buildout:directory}/devsrc
auto-checkout = *
always-checkout = true    

[sources]
collective.lineage = svn https://svn.plone.org/svn/collective/collective.lineage/trunk/

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
testthemes = 
    plonetheme.discovery
    plonetheme.codapress

eggs =
    Pillow
    Plone
    lineage.themeselection
    ${:testthemes}
    plone.app.debugtoolbar
    plone.reload

zcml = 
    lineage.themeselection
    ${:testthemes}

[py]
recipe = zc.recipe.egg
eggs = 
    ${instance:eggs}
interpreter = python


[omelette]
recipe = collective.recipe.omelette
ignore-develop = true
eggs = 
    ${instance:eggs}
